*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5% !important;
}
body{
    line-height: 160%;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.nav{
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}
.header{
    height: 48px;
    padding: 24px;
    display: block;
    position: relative;
}
.header .logo{
    float: left;
    margin-right: 12px;
    width: 36px;
}
.header .logo img{
    width: 36px;
}
.header .primary{
    display: inline-block;
}
.header .primary li{
    float: left;
}
.header .primary ul a{
    color: inherit;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.header .trigger{
    float: right;
}
.header .trigger img{
    padding: 6px 0;
    height: 24px;
    display: block;
    opacity: 0.8;
}
.container{
    box-sizing: border-box;
    padding: 0 24px 0 84px;
    overflow: hidden;
    position: relative;
}
.container .container-data{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
}
.container .data-1{
    margin-bottom: 24px;
    line-height: 140%;
    font-size: 2.6rem;
    letter-spacing: 0.45px;
    font-weight: 700;
}
.container .data-menu .sign-in{
    float: left;
    margin-right: 24px;
    padding: 3px 0;
    color: #00a862;
}
.container .data-menu .sign-in img{
    margin-right: 4px;
    margin-top: -3px;
    vertical-align: middle;
}
.container .data-menu .registered{
    border: 1px solid #00a862;
    border-radius: 48px;
    color: #00a862;
    display: inline-block;
    outline: none;
    font-weight: 500;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px 12px;
}
.container .data-menu .registered:after {
    background: rgba(0, 168, 98, 0.12);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    width: 6px;
}
/*轮播图*/
.tag_ad{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 6px;
    color: #ffffff;
    background-color: #000000;
    font-size: 1.2rem;
    line-height: 180%;
    opacity: 0.6;
    border-radius: 2px;
    letter-spacing: 0.45px;
    z-index: 100;
}
.content{
    position: absolute;
    top: 0;
    right: 0;
}
.menu{
    position: relative;
}
.menu .menu-slide{
    display: inline-block;
    display: none;
}
.menu-slide img{
    vertical-align: middle;
    width: 100%;
    border: 0;
}
.menu .menu-cloned{
    display: block;
}
.menu .menu-next{
    border: 0;
    background: url("../images/arrow.svg") transparent no-repeat center center;
    background-size: contain;/*把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域*/
    content: '';
    width: 48px;
    height: 48px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 28px;
    top: 50%;
    margin-top: -25px;
    z-index: 100;
    cursor: pointer;
}
/*右箭头动画*/
.menu .menu-next:hover{
    right: 22px;
    -webkit-transition: all 0.2s ease;
}
/*小图*/
.promotion{
    background: #f7f7f7;
    height: 100%;
    padding: 12px 0 0 0;
}
.wrapper{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.grid{
    font-size: 0;
}
.grid > * {
    padding: 12px;
    position: relative;
}
.promotion a img{
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    max-width: 100%;
    border: 0;
}
/*文字*/
.program-wrapper{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    width: 100%;
}
.program-grid{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.program .program-wrapper .program-grid > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 50%;
}
.program .program-wrapper .program-grid div:first-child{
    padding-top: 36px;
    padding-bottom: 36px;
}
.program .program-wrapper .program-grid h2{
    clear: both;
    line-height: 140%;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000000;
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    margin: 0 0 24px;
}
.program .program-wrapper .program-grid p{
    word-wrap: break-word;
    word-break: normal;
    margin: 0 0 24px;
}
.program .program-wrapper .program-grid .light{
    color: rgba(0, 0, 0, 0.56);
    letter-spacing: 0.4px;
}
.program .program-wrapper .program-grid div a{
    margin-right: 6px;
    vertical-align: middle;
    background: none;
    border: 1px solid #00a862;
    border-radius: 48px;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    padding: 6px 18px;
    position: relative;
    color: #00a862;
    transition-duration: 0.1s;
    transition-property: background, border-color, color;
}
.program .program-wrapper .program-grid .light .grid-more{
    color: #c2a661;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.program .program-wrapper .program-grid .image img{
    height: 72px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -36px;
    right: 0;
    transform: translate3d(0, 0, 0);
}
@media (min-width: 1025px) {
    .nav{
        width: 30%;
    }
    .container{
        height: calc(100% - 98px);
        display: table;
        width: 100%;
    }
    .content{
        width: 70%;
    }
    .menu{
        width: 100%;
    }
    .wrapper{
        padding-left: 12px;
        padding-right: 12px;
    }
    .grid{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .grid > * {
        width: 33.3333333333%;
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
    }
    .program-wrapper{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 641px){
    .menu-mobile {
        display: none !important;
    }
}
@media (max-width: 640px) {
    .menu-block{
        display: none !important;
    }
}

