*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5% !important;
}
body{
    line-height: 160%;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.nav{
    height: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}
.header{
    height: 48px;
    padding: 24px;
    display: block;
    position: relative;
}
.header .logo{
    float: left;
    margin-right: 12px;
    width: 36px;
}
.header .logo img{
    width: 36px;
}
.header .primary{
    display: inline-block;
}
.header .primary li{
    float: left;
}
.header .primary ul a{
    color: inherit;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.header .trigger{
    float: right;
}
.header .trigger img{
    padding: 6px 0;
    height: 24px;
    display: block;
    opacity: 0.8;
}
.container{
    box-sizing: border-box;
    padding: 0 24px 0 84px;
    overflow: hidden;
    position: relative;
}
.container .container-data{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
}
.container .data-1{
    margin-bottom: 24px;
    line-height: 140%;
    font-size: 2.6rem;
    letter-spacing: 0.45px;
    font-weight: 700;
}
.container .data-menu .sign-in{
    float: left;
    margin-right: 24px;
    padding: 3px 0;
    color: #00a862;
}
.container .data-menu .sign-in img{
    margin-right: 4px;
    margin-top: -3px;
    vertical-align: middle;
}
.container .data-menu .registered{
    border: 1px solid #00a862;
    border-radius: 48px;
    color: #00a862;
    display: inline-block;
    outline: none;
    font-weight: 500;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px 12px;
}
.container .data-menu .registered:after {
    background: rgba(0, 168, 98, 0.12);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    width: 6px;
}
.tag_ad{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 6px;
    color: #ffffff;
    background-color: #000000;
    font-size: 1.2rem;
    line-height: 180%;
    opacity: 0.6;
    border-radius: 2px;
    letter-spacing: 0.45px;
    z-index: 100;
}
.content{
    height: 4000px;
    position: absolute;
    top: 0;
    right: 0;
}
.menu{
    position: relative;
}
.menu .menu-slide{
    float: left;
    display: none;
}
.menu .menu-cloned{
    display: block;
}
.menu .menu-slide img {
    border: 0;
}
.menu .menu-next{
    background-size: contain;/*把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域*/
    border: 0;
    background: url("../images/right.svg") transparent no-repeat center center;
    content: '';
    width: 48px;
    height: 48px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 50%;
    margin-top: -25px;
    z-index: 100;
    cursor: pointer;
}
@media (min-width: 1025px) {
    .nav{
        width: 30%;
    }
    .container{
        height: calc(100% - 98px);
        display: table;
        width: 100%;
    }
    .content{
        width: 70%;
    }
    .menu{
        height: 496px;
    }
    .menu-slide img{
        width: 100%;
    }
}
