*{
    margin: 0px;
    padding: 0px;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1230px;
    margin: 0px auto;
}
/*nav Start*/
    .nav{
        height: 33px;
        background: #f2f2f2;
        border-bottom: 1px solid #e5e5e5;
        font-family:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    }
    .nav-box{
        height: 32px;
        line-height: 32px;
        color: #999999;
    }
    .nav-login{
        float: left;
    }
    .nav-login a{
        padding: 0 10px 0 10px;
        color: #999999;
    }
    .nav-login a:hover{
        color: #FF0036;
    }
    .nav-login .login-btn{
        padding-left: 20px;
    }
    .nav-login a,.nav-login span{
        float: left;
    }
    .nav-menu{
        float: right;
    }
    .nav-menu>li{
        float: left;
    }
    .nav-link{
        color: #999;
        display: block;
        padding: 0 14px 0 10px;
    }
    .nav-link span{
        color: #666;
        padding: 0 2px;
        font-weight: 700;
        font-family: Arial;
    }
/*nav End*/

/*sn End*/
    .sn-menu{
        position: relative;
    }
    .sn-menu:hover{
        background: #fff;
        height: 34px;
    }
    .sn-menu:hover .sub-sn-menu{
        display: block;
    }
    .sn-menu a:hover{
        color: #FF0036;
        text-decoration: underline;
    }
    .sn-menu:hover::after{
        transform: rotate(180deg);
    }
    .sn-menu::after{
        content:'';
        width: 0;
        height: 0;
        border-width: 3px;
        border-style: solid;
        border-color: #999 transparent transparent transparent;
        position: absolute;
        right: 6px;
        top: 16px;
        transition: all 0.1s linear;
        transform-origin: 3px 1.5px;
    }
    .sub-sn-menu{
        background: #fff;
        border: 1px solid #eee;
        border-top: none;
        padding: 10px 8px;
        position: absolute;
        left: -1px;
        top: 34px;
        width: 74px;
        display: none;
    }
    .sub-menu-item{
        line-height: 18px;
        height: 18px;
    }
    .sub-menu-item a{
        color: #999999;
    }
    .nav-icon{
        color: #FF0036;
        font-size: 14px;
    }



